body{
    margin: 0px;
    padding: 0px;
    font-family: 微软雅黑;
    background-color: white;
}
.up {
    position: relative;
    padding: 0 0 38px;
    height: auto;
}

.bg {
    background: url(../img/BG.png);
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin-top: -220px;
}

/*.bg-blur {*/
    /*float: left;*/
    /*width: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: cover;*/
  /**/
/*}*/
.mengban{
    background-color: rgba(0, 0, 0, 0.2)!important;
    height: 220px;
    width: 100%;
    z-index: 1;
    position: inherit;

}
.con_up1 {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.yuantu {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.p1 {
    font-family: "微软雅黑";
    color: #FFF;
    font-size: 16px;
    /*font-weight: bold;*/
}

.con_up2 {
    width: 100%;
    /*height: 40px;*/
    background-color: rgb(238, 238, 238);
    position: absolute;
    bottom: 0;
}

ul {
    width: 100%;
    line-height: 100%;
    text-align: center;
    float: left;
    padding-left: 0%;
    margin: 0px;
    padding-top: 3px;

}

.l2 {
    width: 33.3%;
    float: left;
    overflow: visible;
    list-style: none;
    text-align: center;
    padding: 5px;
    position: relative;
    display: inline-block;
}

.pp2 {
    font-family: "微软雅黑";
    font-size: 16px;
    color: rgb(196,196,196);
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 4px;
    margin: 0;
}

.change_p {
    width: 60px;
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
    display: inline-block;
}